body{
    background-color: #323232;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    color:#61605e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;


}

#titleText2{
    font-weight: 900;
    font-size: 10vw;
    height:100%;
    line-height:0.00001em;

}

.grid-container{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2vw;
    grid-row-gap:2vw;

}
.detailgrid{
    display:inline-grid;
    grid-template-rows: auto auto auto;

}
img{
    height:13vw;
    width:13vw;
}
.grid-item{
    width:110%;
    height:110%;
    background-color: white;
}